/*STYLE 2*/
body {
  background-color: #FFFFFF;
}

/*navbar*/
body>nav>section>div.hero-head {
  background: #1D5D9B
    /*#35A29F*/
  ;
  color: white;
}

.is-size-3 {
  margin-left: 1%;
  color: white;
}

/* NAVBAR HOMEBTTN HERE*/
.is-size-3:hover {
  background-color: #3e8ed0;
}

/*hero body*/
.hero-body {
  background: linear-gradient(180deg, #1D5D9B
      /*#35A29F*/
      , #75C2F6
      /*#97FEED*/
      , #FFFFFF);
  background-blend-mode: normal;
  display: flex;
  flex-wrap: wrap;
}

.is-size-1 {
  margin-left: -60px;
  white-space: normal;
}

.is-size-4 {
  margin-left: -5%;
  white-space: normal;
  display: flex;
}

/*decription element*/
body>div:nth-child(9)>div {
  margin-top: 100px;
  margin-bottom: 200px;
}

body>div.container.is-max-desktop.has-text-centered>div {
  margin-top: 50px;
}


/*image*/
.has-text-right {
  width: 50%;
  height: auto;
  margin-top: -10%;
  margin-right: 1%;
  white-space: normal;
  margin-bottom: 100px;
  width: 50%
}

.has-text-left {
  width: 50%;
  margin-left: 70px;
  margin-bottom: 100px;
  width: 50%;
}

/*Example container*/
.is-max-desktop {
  margin-top: 100px;
}

/*Card*/
.cards {
  display: flex;
}

.card {
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
}

.card:not(:first-child) {
  margin-left: -2rem;
}

/*QuizRESULTS HTML*/

.body>section>div:nth-child(1)>div.container.is-max-desktop.has-text-centered {
  margin-right: 200px;
}

/*QUIZ BUTTON*/
.h3 {
  text-align: top center;
}

.is-ancestor>button:nth-child(1) {
  margin: 25px 10px;
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 35px;
  cursor: pointer;
  text-align: center
}

.is-ancestor>button:nth-child(2) {
  margin: 25px 10px;
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center
}

.is-ancestor>button:nth-child(3) {
  margin: 25px 10px;
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center
}

.is-ancestor>button:nth-child(4) {
  margin: 25px 10px;
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center
}

.is-ancestor>button:nth-child(5) {
  margin: 25px 10px;
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center
}

.is-ancestor>button:nth-child(6) {
  margin: 25px 10px;
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center
}




/*QUIZRESULTS*/
#quiz-question {
  text-align: center;
  display: inline-block;
}

#results-container>a>button {
  margin: 25px 10px;
  height: ;
  /* mod height n width*/
}