/*STYLE 2*/
body { 
  background-color: #C4D7B2;
}

/*navbar*/
body > nav > section > div.hero-head {
  background-color: beige;
  color: black;
}

.is-size-3 {
  margin-left: -70px;
color: black;
}

/*hero body*/
.hero-body {
  /*background-image: linear-gradient( #176B87, #64CCC5);*/
  background-image: linear-gradient( #0A6EBD, #A1C2F1);
}
.is-size-1 {
  margin-left: -60px;
}

.is-size-4 {
  margin-left: -60px;
}

/*decription element*/
body > div:nth-child(9) > div {
  margin-top: 250px;
  margin-bottom: 125px;
}

body > div.container.is-max-desktop.has-text-centered > div {
  margin-top: 250px;
}

/*image*/
.has-text-right {
  margin-top: -150px;
  margin-right: -40px;
}

/*Example container*/
.is-max-desktop {
  margin-top: 100px;
}


/*bottom Navbar*/
.is-info {
  margin-bottom:-50px;
}








